<!DOCTYPE html>
<html>
  <head>
    <title>John Moore Digital Inc.</title>
    <style>
      body {
        background: #000 url(http://127.0.0.1:4000/assets/images/sunset-background.jpg);
        background-size: cover;
        background-position: middle center;
        background-repeat: no-repeat;
      }

      h1 {
        color: #fff;
        width: 80%;
        margin: 0 auto;
      }

    </style>
  <head>
  <body>
    <h1>Hi, I'm John.<br>I provide first-rate digital marketing to exceptional companies.</h1>
    <a href="https://www.linkedin.com/in/jomoweb">LinkedIn</a>
  </body>

</html>
